{% extends 'photos/base.html' %}
 {% block body %}
<link rel="stylesheet" type="text/css" href="photos/style.css">
<div class=" col-md-12 jumbotron">
  <h1>The photostore</h1>
  <p>Collection of all popular photos</p>
</div>
<div class=" col-md-10 jumbotron jumbotron-special" name="fig">
   <div class="col-md-12 span-2">
  <h2>Popular photos</h2>

  </div>
</div>

<ul>
   {% for photo in all_photos %}
   <!--<li><a href="{% url 'photoapp:detail' photo.id %}">{‌{photo.name}}</a></li>
   <img src="{‌{photo.photo_image}}"/>-->

   <!--new code starts here-->
   <div class="col-lg-3 col-md-4 col-sm-6 " >
      <div class = "thumbnail">
         <img src = "{‌{photo.photo_image}}" alt = "Generic placeholder thumbnail">


         <div class = "caption">
          <h3>{‌{photo.name}}</h3>
          <p>{‌{photo.author}}</p>

          <p>
             <a href = "{% url 'photos:detail' photo.id %}" class = "btn btn-primary" role = "button">
                Details
              </a>

              <a href = "#" class = "btn btn-danger" role = "button">
                 Delete
              </a>
         </p>
         </div>
      </div>


   </div>
   <!--new code ends here-->
   {% endfor %}
</ul>
{% endblock %}
